sup {
  font-size: 70%;
  /* Remove the extra line height added by sup elements (verse numbers) */
  line-height: 0;
}

.book-title {
  text-align: center;
}

.chapter-title-book {
  font-weight: bold;
}

.chapter-title-number {
  font-size: 1.5em;
  font-weight: bold;
}

.selah {
  display: block;
  font-style: italic;
  text-align: right;
}
